nav {
  background-color: $black;
  color: $white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem $body-padding;
  font-size: 1.5rem;

  a {
    color: $white;
    text-decoration: none;

    &.logotype {
      font-weight: bold;
      margin-right: -1rem;
      font-size: 2rem;
    }
  }

  span.menu-button {
    display: none;
  }

  @media only screen and (max-device-width: 640px) {
    flex-direction: column;

    a {
      &.logotype {
        margin-right: 0;
        align-self: flex-start;
      }

      margin: 0.5rem 0;
    }

    &.closed {
      flex-direction: row;
      a {
        display: none;

        &.logotype {
          display: inherit;
          margin-right: 0;
        }
      }

      span.menu-button {
        align-self: center;
      }
    }

    span.menu-button {
      align-self: flex-end;
      display: inherit;
      font-size: 80%;
      border: solid 1px $white;
      padding: 5px;
      border-radius: 10px;
      &:active {
        background-color: $white;
        color: $black;
      }
    }
  }
}
